// COLORS ------------------------------------------

$pirmary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

// FONTS -------------------------------------------

// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;

// $roboto: 'Roboto', sans-serif;
// $shirkhand: 'Shrikhand', cursive;


h1 {
    text-align: center;
    font-family: "Shrikhand", cursive;
}