// to watch the changes --> cli : sass --watch sass/styles.scss sass/styles.css

// COLORS ------------------------------------------

$purple: #9356dc;
$pink: #ff79da;
$mint: #99e2d0;
$green: #008766;
$clear-blue: #89c8fa;
$marine: #003a68;
$grey: #7e7e7e;
$light-grey: #f6f6f6;
$dark-grey: #353535;
$white: #ffffff;
$heart: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
$location-grey: #eaeaea;

// FONTS -------------------------------------------

$shirkhand: "Shrikhand", cursive;
$roboto: "Roboto", sans-serif;

// -----------------------------------------------------------------------------------------------------------------------------------

//   -------------------------------------------------------- LIBRARY ----------------------------------------------------------------


button {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}

.shirkhand {
  font-family: $shirkhand;
}

.roboto {
  font-family: $roboto;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

.grey {
  color: $grey;
}

.mint {
  color: $mint;
}

.light-grey {
  background: $light-grey;
}

.purple {
  color: $purple;
}

.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.py-1 {
  padding: 0 1rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-1 {
  gap: 1rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-24 {
  font-size: 24px;
}

// --------------------------------------------------------------- LIBRARY ------------------------------------------------------------

body {
  margin: unset;
  background: $light-grey;
  position: relative;
}

h1 {
  font-family: $shirkhand;
}

h2 {
  font-family: $shirkhand;
}

.reservez-section {
  cursor: default;
}

// .img-index {
//   width: 100%;
//   height: 100%;
// }

.primary-btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #ffffff;
  padding: 1rem;
  width: fit-content;
  font-family: $roboto;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
}

.dish-title {
  border-bottom: 3px solid #99e2d0;
  width: 10vw;
  margin-left: 3rem;
}

// Animations ------------------------------------------------------------------

.heart {
  cursor: pointer;
  position: relative;
  top: -10px;
  right: 30px;
  &:hover #full-heart {
    opacity: 1;
    transform: scale(1); // taille de l'élément au déclenchement de l'événement
    background: $heart;
    background-clip: text; // ce qui permet de remplir le coeur sans qu'il dépassse.
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;
  }
  &:hover #empty-heart {
    // au survol, le coeur vide disparait
    opacity: 0;
  }
  #empty-heart {
    position: absolute;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.1s; // la transistion joue sur l'opacité, et vient chercher la valeur dans la class qui délenche (:hover)
  }
  #full-heart {
    opacity: 0;
    line-height: 1;
    transition: all 0.45s; // prend en compte toutes les animations et fait durer l'animation durant 45 ms
    transform: scale(0.2); // taille initiale de l'élément
    color: transparent;
    background: $heart;
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    -webkit-transition: all 0.45s;
    -moz-transition: all 0.45s;
    -ms-transition: all 0.45s;
    -o-transition: all 0.45s;
  }
}

.heart-card {
  z-index: 1;
  position: relative;
  right: 30px;
  bottom: 5px;
  &:hover .full-heart-card {
    // au survol le coeur rempli apparait
    opacity: 1;
    transform: scale(1); // sa taille est à 100%
    background: $heart;
    background-clip: text; // ce qui permet de mettre la couleur dans le coeur sans que ça dépasse du conteneur
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;
  }
  &:hover .empty-heart-card {
    // au survol, le coeur vide disparait avec opacity 0
    opacity: 0;
  }
  .empty-heart-card {
    position: absolute;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.1s; // la transition jouera sur l'opacity (valeur que l'on prendra dans le selecteur qui déclenche l'événement ) et durera 1ms
  }
  .full-heart-card {
    position: absolute;
    opacity: 0;
    line-height: 1;
    transition: all 0.25s; // prend en compte toutes les animations et fait durer l'animation durant 45 ms
    transform: scale(0.2); // sa taille est à 20% de sa totalité
    color: transparent;
    background: $heart;
    background-clip: text;
    -webkit-background-clip: text; // ce qui permet de mettre la couleur dans le coeur sans que ça dépasse du conteneur
    position: absolute;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
  }
}

.loader-container {
  position: relative;
  height: 0vh; // taille initiale du loader avant déclenchement
  width: 100vw;
  z-index: 1;
  background-color: $white;
  animation: loader-container 1.5s ease; // appel l'animation "loader-container", durée: 1.5s, type d'animation: douce
  -webkit-animation: loader-container 1.5s ease;
  animation-duration: 2.8s; // détermine la longeur de l'événement
}

@keyframes loader-container {
  0% {
    height: 100vh; // taille au déclenchement de l'événement
  }

  90% {
    height: 100vh;
  }

  100% {
    height: 0vh; // taille à la fin de l'événement
  }
}

.loader {
  font-size: 0vh; // taille du loader hors événement
  h1 {
    text-align: center;
    padding-top: 10rem;
  }
  span {
    font-size: 0vh; // taille de chaque lettre hors événement
    animation: letter;
    -webkit-animation: letter 1.5s ease; //  déclenche le keyframe letter, dure 1.5s et assigne le type d'animation
  }
}

h1 span:nth-child(1) {
  animation-delay: 0.1s; // temps d'attente entre chaque apparition de lettre
}
h1 span:nth-child(2) {
  animation-delay: 0.2s;
}
h1 span:nth-child(3) {
  animation-delay: 0.3s;
}
h1 span:nth-child(4) {
  animation-delay: 0.4s;
}
h1 span:nth-child(5) {
  animation-delay: 0.5s;
}
h1 span:nth-child(6) {
  animation-delay: 0.6s;
}
h1 span:nth-child(7) {
  animation-delay: 0.7s;
}
h1 span:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes letter {
  0% {
    font-size: 6vh;
  }

  100% {
    font-size: 6vh;
  }
}

.dish {
  animation: dish-animation 2s ease;
  -webkit-animation: dish-animation 2s ease;
}

@keyframes dish-animation {
  0% {
    opacity: 0;
    //  le plat est transparent au début de l'événement
    //  position au début de l'événement à 20px plus bas
    -moz-transform: translateY(+20px);
    -ms-transform: translateY(+20px);
    -o-transform: translateY(+20px);
    -webkit-transform: translateY(+20px);
  }

  100% {
    opacity: 1; // le plat est visible à la fin de l'événement
    transform: translateY(0px); // le plat a reprit sa position initiale
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.dish-title {
  animation: dish-title-animation 0.4s linear; // nom du keyframe assigné, durée de l'animation, type de mouvement ( ici linéaire )
  -webkit-animation: dish-title-animation 0.4s linear;
  transform: translateX(0px); // position initiale de l'élément
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

@keyframes dish-title-animation {
  0% {
    opacity: 0;
    transform: translateX(
      -300px
    ); // position de l'élément au déclenchement de l'animation
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
  }

  100% {
    transform: translateX(0px); // position de l'élément à la fin de l'animation
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

// Animations ----------------------------------------------------------------------------------

//                 ---------------------------------- LG Desktop -------------------------------

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
  .dish {
    &:hover {
      .price {
        margin-right: 7rem !important;
      }
    }
  }

  article {
    #second-img {
      height: 37vh;
    }
  }
}

//                 ---------------------------------- LG Desktop -------------------------------

//                 --------------------------------- DESKTOP --------------------------------

@media only screen and (min-width: 769px) and (max-width: 2560px) {
  body {
    background: $white;
  }

  nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 0.7rem 0;
    position: relative;
    background: $white;
    h2 {
      margin: unset;
      text-align: center;
      font-size: 3vw;
    }
    .arrow {
      position: absolute;
      left: 5%;
      top: 41%;
      font-size: 1.5vw;
    }
  }

  main {
    h2 {
      padding-left: 6rem;
      margin: 3rem 0;
    }
  }

  .main-page {
    position: relative;
    top: -25px;
    margin: 0 5rem;
    background: $light-grey;
    border-radius: 20px 20px 0 0;
    .restaurant-name {
      font-size: 2vw;
    }
    .heart {
      cursor: pointer;
      position: relative;
      top: -10px;
      right: 720px;
    }
    h2 {
      padding-left: 14rem;
    }
  }

  .dish-title {
    border-bottom: 3px solid #99e2d0;
    width: 3vw;
    margin-left: 9rem;
  }

  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin: 0.8rem 10rem;
    position: relative;
    opacity: 1;
    p {
      margin: 0.3rem;
    }
    &:hover .check-container {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
    }
    &:hover {
      .price {
        margin-right: 3rem;
        transition: 0.13s;
        -webkit-transition: 0.13s;
        -moz-transition: 0.13s;
        -ms-transition: 0.13s;
        -o-transition: 0.13s;
      }
    }
  }

  .check-container {
    background: $mint;
    position: absolute;
    right: 0;
    top: 0;
    width: 9%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    transition: 0.13s ease-in-out;
    transform-origin: right;
    transition: transform;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: 0.13s ease-in-out;
    -moz-transition: 0.13s ease-in-out;
    -ms-transition: 0.13s ease-in-out;
    -o-transition: 0.13s ease-in-out;
  }
  .check {
    border-radius: 50%;
    background: #ffffff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price {
    transition: transform;
    -webkit-transition: transform;
    -moz-transition: transform;
    -ms-transition: transform;
    -o-transition: transform;
    transition-duration: 0.5s;
    margin-right: unset;
  }

  .img-page {
    width: -webkit-fill-available;
    height: 40vh;
    object-fit: cover;
  }

  .location {
    background-color: $location-grey;
    font-family: $roboto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .reservez-section {
    background: $light-grey;
    margin-top: unset;
    padding-bottom: 3rem;
    p {
      margin-top: unset;
      padding-top: 3rem;
    }
    span {
      padding-top: 1rem;
    }
  }

  .functioning {
    padding: 3rem 0;
    background: $white;
    h2 {
      padding-left: 5rem;
      margin-bottom: 3rem;
    }
  }

  footer {
    background-color: $dark-grey;
    color: $white;
  }

  .restaurant-name {
    font-size: 8vw;
  }

  .reservez {
    background-color: #f6f6f6;
  }

  .functioning-steps {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .functioning-step {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    max-width: 100%;
    max-height: 72.38px;
    position: relative;
    margin-bottom: 1.5rem;
    width: 27%;
    &:hover {
      .fa-mobile-screen {
        color: $purple;
      }
      .fa-list-ul {
        color: $purple;
      }
      .fa-store {
        color: $purple;
      }
    }
  }

  .number {
    background-color: $purple;
    height: 24px;
    width: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
  }

  .primary-btn {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #ffffff;
    padding: 1rem;
    width: fit-content;
    font-family: $roboto;
    cursor: pointer;
    &:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
  }

  .new {
    font-family: $roboto;
    color: $green;
    background: #99e2d0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0.4rem 0.5rem;
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .article-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin: 0 2vw;
  }

  article {
    width: 35vw;
    background-color: #ffffff;
    margin: 2rem 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    img {
      width: -webkit-fill-available;
      border-radius: 15px 15px 0 0;
      -webkit-border-radius: 15px 15px 0 0;
      -moz-border-radius: 15px 15px 0 0;
      -ms-border-radius: 15px 15px 0 0;
      -o-border-radius: 15px 15px 0 0;
      object-fit: cover;
    }
    .restaurant-title {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .restaurant-location {
      margin-top: unset;
    }
    p {
      padding-left: 0.5rem;
    }
    #second-img {
      // max-height: 40vh !important;
      // min-height: 12vh !important;
      object-fit: cover;
    }
  }

  footer {
    background-color: #353535;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    margin: 2rem 0 0;
    padding-right: 3rem;
    padding: 2rem 3rem 0.3rem 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 2560px) {
  .check-container {
    width: 5%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  article {
    #second-img {
      height: 36vh;
    }
  }
}

//                ---------------------------------- Fin DESKTOP ---------------------------------

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  .arrow {
    position: absolute;
    left: 5%;
    top: 2%;
  }

  .main-page {
    .heart {
      right: 390px !important;
    }
  }

article {
  #second-img {
    height: 34vh;
  }
}

}

//                 --------------------------------- TABLET ---------------------------------------

@media only screen and (min-width: 426px) and (max-width: 768px) {
  body {
    margin: unset;
    background: #f6f6f6f6;
  }

  main {
    margin: 4rem 1rem 1rem 1rem;
    h2 {
      padding-left: unset;
    }
  }

  h2 {
    text-align: center;
    margin: 3rem 0;
  }

  nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 0.7rem 0;
    position: relative;
    background: $white;
    h2 {
      margin: unset;
      text-align: center;
      font-size: 3vw;
    }
    .arrow {
      position: absolute;
      left: 5%;
      top: 41%;
      font-size: 2vw;
    }
  }

  .spinner {
    top: 9%;
  }

  .location {
    background-color: $location-grey;
    font-family: $roboto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .arrow {
    position: absolute;
    left: 5%;
    top: 6%;
  }

  .functioning {
    h2 {
      padding-left: unset;
    }
  }

  .functioning-steps {
    all: unset !important;
  }

  .number {
    background-color: #9356dc;
    height: 24px;
    width: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -28px;
  }

  .functioning-step {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    max-height: 72.38px;
    margin: 1rem 5rem;
    position: relative;
    margin-bottom: 1.5rem;
    width: unset;
    border-radius: 15px;
    &:hover {
      .fa-mobile-screen {
        color: $purple;
      }
      .fa-list-ul {
        color: $purple;
      }
      .fa-store {
        color: $purple;
      }
    }
  }

  article {
    background-color: #ffffff;
    margin: 3rem 5rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
  }

  .new {
    font-family: $roboto;
    color: $green;
    background: #99e2d0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0.4rem 0.5rem;
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .img-index {
    max-height: 192px;
    min-width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .heart {
    cursor: pointer;
    position: relative;
    top: -10px;
    right: 25px;
    &:hover #full-heart {
      opacity: 1;
      transform: scale(1);
      background: $heart;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      line-height: 1;
    }
    &:hover #empty-heart {
      opacity: 0;
    }
    #empty-heart {
      position: absolute;
      line-height: 1;
      opacity: 1;
      transition: opacity 0.1s;
    }
    #full-heart {
      opacity: 0;
      line-height: 1;
      transition: all 0.45s;
      transform: scale(0.2);
      color: transparent;
      background: $heart;
      background-clip: text;
      -webkit-background-clip: text;
      position: absolute;
      -webkit-transition: all 0.45s;
      -moz-transition: all 0.45s;
      -ms-transition: all 0.45s;
      -o-transition: all 0.45s;
    }
  }

  .heart-card {
    z-index: 1;
    position: relative;
    right: 30px;
    bottom: 5px;
    &:hover .full-heart-card {
      opacity: 1;
      transform: scale(1);
      background: $heart;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      line-height: 1;
    }
    &:hover .empty-heart-card {
      opacity: 0;
    }
    .empty-heart-card {
      position: absolute;
      line-height: 1;
      opacity: 1;
      transition: opacity 0.1s;
    }
    .full-heart-card {
      position: absolute;
      opacity: 0;
      line-height: 1;
      transition: all 0.25s;
      transform: scale(0.2);
      color: transparent;
      background: $heart;
      background-clip: text;
      -webkit-background-clip: text;
      position: absolute;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
    }
  }

  .img-page {
    width: -webkit-fill-available;
    object-fit: cover;
    position: relative;
    height: 40vh;
  }

  .main-page {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    width: -webkit-fill-available;
    position: relative;
    top: -3rem;
    padding: 1rem;
    margin: unset;
    .restaurant-name {
      padding-left: 2rem;
    }
    .heart {
      right: 270px;
    }
  }

  .restaurant-name {
    font-size: 5vw;
  }

  .primary-btn {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #ffffff;
    padding: 1rem;
    margin: 4rem 0;
    width: fit-content;
    font-family: $roboto;
    cursor: pointer;
    &:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
  }

  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin: 0.8rem 4rem;
    flex: 1;
    transition: width 0.3s;
    position: relative;
    p {
      margin: 0.3rem;
    }
    &:hover .check-container {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
    }
    &:hover {
      .price {
        margin-right: 3rem !important;
        transition: 0.13s;
        -webkit-transition: 0.13s;
        -moz-transition: 0.13s;
        -ms-transition: 0.13s;
        -o-transition: 0.13s;
      }
    }
  }

  .check-container {
    background: $mint;
    position: absolute;
    right: 0;
    top: 0;
    width: 8%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    transition: 0.13s ease-in-out;
    transform-origin: right;
    transition: transform;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: 0.13s ease-in-out;
    -moz-transition: 0.13s ease-in-out;
    -ms-transition: 0.13s ease-in-out;
    -o-transition: 0.13s ease-in-out;
  }
  .check {
    border-radius: 50%;
    background: #ffffff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    background-color: $dark-grey;
    padding: 0.5rem 1rem;
    color: $white;
    h4 {
      margin-top: 1rem;
      font-size: 3vw;
      text-align: center;
    }
    p {
      margin: 0.4rem 0rem;
      font-size: 2vw;
    }
    #contact {
      margin-top: 0.9rem;
    }
  }
}

//                 --------------------------------- Fin TABLET ---------------------------------------

// =================================================================================================================================

//                 --------------------------------- MOBILE ---------------------------------------

@media only screen and (min-width: 320px) and (max-width: 425px) {
  body {
    margin: unset;
  }

  nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 0.7rem 0;
    position: relative;
    h2 {
      margin: unset;
      text-align: center;
      font-size: 8vw;
    }
  }

  .spinner {
    top: 40%;
  }

  .primary-btn {
    margin-bottom: 1.5rem;
  }

  .new {
    font-family: $roboto;
    color: $green;
    background: #99e2d0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0.4rem 0.5rem;
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .arrow {
    position: absolute;
    left: 5%;
    top: 40%;
  }

  .img-index {
    max-height: 192px;
    min-width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .main-page {
    background-color: $light-grey;
    border-radius: 40px 40px 0 0;
    width: -webkit-fill-available;
    position: relative;
    top: -2.6rem;
    padding: 1rem;
    h1 {
      margin: unset;
      font-size: 6vw;
    }
    .primary-btn {
      margin-top: 15%;
    }
  }

  .main-index {
    padding: 1rem;
    background-color: $light-grey;

    h2 {
      padding-top: 1.5rem;
    }
  }
  main {
    h2 {
      padding-left: unset;
    }
  }

  .img-index {
    max-height: 192px;
    min-width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .img-page {
    width: -webkit-fill-available;
    object-fit: cover;
    height: 275px;
    position: relative;
  }

  .dish-title {
    border-bottom: 3px solid $mint;
    width: 14%;
    margin-left: unset;
  }

  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 0.8rem;
    transition: width 0.3s;
    position: relative;
    p {
      margin: 0.2rem;
      font-size: 4vw;
    }
    &:hover .check-container {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
    }
    &:hover {
      .price {
        margin-right: 3.5rem !important;
        transition: 0.13s;
        -webkit-transition: 0.13s;
        -moz-transition: 0.13s;
        -ms-transition: 0.13s;
        -o-transition: 0.13s;
      }
      .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .check-container {
    background: $mint;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    transition: 0.13s ease-in-out;
    transform-origin: right;
    transition: transform;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: 0.13s ease-in-out;
    -moz-transition: 0.13s ease-in-out;
    -ms-transition: 0.13s ease-in-out;
    -o-transition: 0.13s ease-in-out;
  }
  .check {
    border-radius: 50%;
    background: #ffffff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    background-color: $dark-grey;
    padding: 0.5rem 1rem;
    color: $white;
    h4 {
      margin-top: 1rem;
      font-size: 5vw;
    }
    p {
      margin: 0.4rem 0rem;
      font-size: 5vw;
    }
    #contact {
      margin-top: 0.9rem;
    }
  }

  article {
    background-color: #ffffff;
    margin: 1rem 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    .restaurant-title {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .restaurant-location {
      margin-top: unset;
    }
    p {
      padding-left: 0.5rem;
    }
  }

  .location {
    background-color: $location-grey;
    font-family: $roboto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .functioning-steps {
    all: unset !important;
  }

  .functioning-step {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    max-width: 100%;
    max-height: 72.38px;
    position: relative;
    margin-bottom: 1.5rem;
    width: unset;
    &:hover {
      .fa-mobile-screen {
        color: $purple;
      }
      .fa-list-ul {
        color: $purple;
      }
      .fa-store {
        color: $purple;
      }
    }
  }

  .number {
    background-color: $purple;
    height: 24px;
    width: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
  }

  .functioning {
    padding: 0 1.5rem 1.5rem;
    background: $white;
    h2 {
      padding-left: unset;
    }
  }

  .fs-24 {
    margin-top: unset;
    padding-top: 1.5rem;
  }

  .reservez-section {
    padding-bottom: 2rem;
  }

  .price {
    transition: transform;
    -webkit-transition: transform;
    -moz-transition: transform;
    -ms-transition: transform;
    -o-transition: transform;
    transition-duration: 0.5s;
    margin-right: unset;
  }
}

@media only screen and (max-width: 320px) {
  .reservez-section {
    padding: 0px 1rem;
  }

  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 0.8rem;
    transition: width 0.3s;
    position: relative;
    p {
      margin: 0.2rem;
      font-size: 4vw;
    }
    &:hover .check-container {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
    }
    &:hover {
      .price {
        margin-right: 2.6rem !important;
        transition: 0.13s;
        -webkit-transition: 0.13s;
        -moz-transition: 0.13s;
        -ms-transition: 0.13s;
        -o-transition: 0.13s;
      }
      .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  .reservez-section {
    padding: 0px 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .reservez-section {
    padding: 0px 2rem;
  }
}
//                 --------------------------------- Fin MOBILE ---------------------------------------
