// to watch the changes --> cli : sass --watch sass/styles.scss sass/styles.css

// COLORS ------------------------------------------

$purple: #9356dc;
$pink: #ff79da;
$mint: #99e2d0;
$green: #008766;
$clear-blue: #89c8fa;
$marine: #003a68;
$grey: #7e7e7e;
$light-grey: #f6f6f6;
$dark-grey: #353535;
$white: #ffffff;
$heart: linear-gradient(#9356dc, #ff79da);

// FONTS -------------------------------------------

$shirkhand: "Shrikhand", cursive;
$roboto: "Roboto", sans-serif;

// -----------------------------------------------------------------------------------------------------------------------------------

h1 {
  // text-align: center!important;
  font-family: $shirkhand;
}

nav {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 0.7rem 0;
  position: relative;
  h1 {
    margin: unset;
    text-align: center;
    font-size: 8vw;
  }
}

.arrow {
  position: absolute;
  left: 5%;
  top: 35%;
}

button {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}

footer {
  background-color: $dark-grey;
  color: $white;
}

.shirkhand {
  font-family: $shirkhand;
}

.roboto {
  font-family: $roboto;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

.grey {
  color: $grey;
}

.mint {
  color: $mint;
}

.light-grey {
  background: $light-grey;
}

.purple {
  color: $purple;
}

.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.text-center {
  text-align: center;
}

.ml-1 {
  margin-left: 1rem;
}
.gap-4 {
  gap: 4rem;
}

.gap-1 {
  gap: 1rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-24 {
  font-size: 24px;
}

.reservez {
  background-color: #f6f6f6;
}

.primary-btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #ffffff;
  padding: 1rem;
  width: fit-content;
  font-family: $roboto;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
}

.new {
  font-family: $roboto;
  color: $green;
  background: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 0.4rem 0.5rem;
  position: absolute;
  top: 0px;
  right: 10px;
}

// heart logo, till have an animation issue
// class="fa-stack" peut etre la réponse à mon problème de fond qui ne s'affiche pas à l'intérieur de l'icone
// ATTENTION, A L'APPEL DU COEUR IL EST IMPERATIF DE METTRE LES DEUX LOGOS DANS UNE SPAN

// span {
//   position: relative;
//   .fa-regular .fa-heart {
//     position: absolute;
//   }

//   .fa-solid .fa-heart {
//     position: absolute;
//     display: none;
//   }
// }

// .fa-regular {
//   cursor: pointer;
//   position: absolute;
//   right: 0;
//   // transition: transform 0.3s;
//   transform-origin: bottom;
//   &:hover {
//     display: none;
//   }
//   &:hover + .fa-solid {
//     transform: scaleY(1);
//     transform-origin: bottom;
//     transition: transform 0.2s;
//   }
// }

// .fa-heart {
//   cursor: pointer;
//   position: absolute;
//   right: 0;
//   transition: transform 0.1s;
//   transform: scaleY(1);
//   background: linear-gradient(#9356dc, #ff79da);
//
// }

#empty-heart {
  position: absolute;
  right: 0;
  transition: all 450ms;
  &:hover {
    display: none;
  }
  &:hover + #full-heart {
    display: block;
    // transition: transform 0.3s;
    transform: scale(1);
    color: $heart;
  }
}

#full-heart {
  position: absolute;
  right: 0;
  display: none;
  transform: scale(0);
  // color: linear-gradient(#9356dc, #ff79da);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

//                 --------------------------------- TABLET ---------------------------------------

@media only screen and (min-width: 426px) and (max-width: 1024px) {
}

//                 --------------------------------- TABLET ---------------------------------------

// =================================================================================================================================

//                 --------------------------------- MOBILE ---------------------------------------

@media only screen and (max-width: 425px) {
  body {
    margin: unset;
  }

  .main-page {
    background-color: $light-grey;
    border-radius: 40px 40px 0 0;
    width: -webkit-fill-available;
    position: relative;
    top: -2.6rem;
    padding: 1rem;
    h1 {
      margin: unset;
      font-size: 6vw;
    }
    #empty-heart {
      position: unset;
    }
    .primary-btn {
      margin-top: 15%;
    }
  }

  .main-index {
    padding: 1rem;
    background-color: $light-grey;

    h2 {
      padding-top: 1.5rem;
    }
  }

  .img-index {
    max-height: 192px;
    min-width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .img-page {
    width: -webkit-fill-available;
    object-fit: cover;
    height: 275px;
    position: relative;
  }

  .dish-check-container {
    &:active {
      display: flex;
    }
    &:active + .check-container {
      display: flex;
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
    }
  }

  .dish-title {
    border-bottom: 3px solid $mint;
    width: 14%;
  }

  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 0.8rem;
    &:active {
      border-radius: 15px 0 0 15px;
      width: 80%;
    }
    &:active + .check-container {
      display: flex;
      // transform: scaleX(1);
      // -webkit-transform: scaleX(1);
      // -moz-transform: scaleX(1);
      // -ms-transform: scaleX(1);
      // -o-transform: scaleX(1);
    }
    p {
      margin: 0.2rem;
      font-size: 4vw;
    }
  }

  .check-container {
    background: #99e2d0;
    width: 17%;
    display: none;
    border-radius: 0 15px 15px 0;
    margin-top: 0.8rem;
    transform-origin: left;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 350ms;
  }
  .check {
    border-radius: 50%;
    background: #ffffff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    background-color: $dark-grey;
    padding: 0.5rem 1rem;
    color: $white;
    h4 {
      margin-top: 1rem;
      font-size: 5vw;
    }
    p {
      margin: 0.4rem 0rem;
      font-size: 5vw;
    }
    #contact {
      margin-top: 0.9rem;
    }
  }

  article {
    background-color: #ffffff;
    margin: 1rem 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    .restaurant-title {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .restaurant-location {
      margin-top: unset;
    }
    p {
      padding-left: 0.5rem;
    }
    .fa-heart {
      padding-right: 0.5rem;
    }
  }

  .location {
    background-color: #eaeaea;
    font-family: $roboto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .functioning-step {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    max-width: 322.49px;
    max-height: 72.38px;
    position: relative;
    margin-bottom: 1.5rem;
  }

  .number {
    background-color: $purple;
    height: 24px;
    width: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
  }

  .sections {
    padding: 0 1.5rem 1.5rem;
  }

  .fs-24 {
    margin-top: unset;
    padding-top: 1.5rem;
  }

  .reservez-section {
    padding-bottom: 2rem;
  }
}

//                 --------------------------------- MOBILE ---------------------------------------
