// to watch the changes --> cli : sass --watch sass/styles.scss sass/styles.css

// COLORS ------------------------------------------

$purple: #9356dc;
$pink: #ff79da;
$mint: #99e2d0;
$green: #008766;
$clear-blue: #89c8fa;
$marine: #003a68;

// FONTS -------------------------------------------

$shirkhand: "Shrikhand", cursive;
$roboto: "Roboto", sans-serif;

// -----------------------------------------------------------------------------------------------------------------------------------

h1 {
  text-align: center;
  font-family: $shirkhand;
}
button {
  all: unset;
}

.shirkhand {
  font-family: $shirkhand;
}

.roboto {
  font-family: $roboto;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.fs-24{
  font-size: 24px;
}

.primary-btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #ffffff;
  padding: 1rem;
  width: fit-content;
  font-family: $roboto;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
}

.new {
  font-family: $roboto;
  color: $green;
  background: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0.4rem;
}

// heart logo, till have an animation issue
// class="fa-stack" peut etre la réponse à mon problème de fond qui ne s'affiche pas à l'intérieur de l'icone
// ATTENTION, A L'APPEL DU COEUR IL EST IMPERATIF DE METTRE LES DEUX LOGOS DANS UNE SPAN

span {
  position: relative;
}

.fa-regular {
  cursor: pointer;
  position: absolute;
  // transition: transform 0.3s;
  transform-origin: bottom;
  &:hover {
    transform: scaleY(1);
    // transition: transform 0.2s;
    transform-origin: bottom;
  }
  &:hover + .fa-solid {
    transform: scaleY(1);
  }
}

.fa-heart {
  cursor: pointer;
  position: absolute;
  transition: transform 0.1s;
  transform: scaleY(0);
  transform-origin: bottom;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-transition: transform 0.1s;
  -moz-transition: transform 0.1s;
  -ms-transition: transform 0.1s;
  -o-transition: transform 0.1s;
}

// heart logo, till have an animation issue

.location {
  background-color: #eaeaea;
  font-family: $roboto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

//                 --------------------------------- TABLET ---------------------------------------

@media only screen and (min-width: 426px) and (max-width: 1024px) {
}

//                 --------------------------------- TABLET ---------------------------------------

// =================================================================================================================================

//                 --------------------------------- MOBILE ---------------------------------------

@media only screen and (max-width: 425px) {
  body {
    margin: unset;
  }
}

//                 --------------------------------- MOBILE ---------------------------------------
