button {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}

.shirkhand {
  font-family: "Shrikhand", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

.grey {
  color: #7e7e7e;
}

.mint {
  color: #99e2d0;
}

.light-grey {
  background: #f6f6f6;
}

.purple {
  color: #9356dc;
}

.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.py-1 {
  padding: 0 1rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-1 {
  gap: 1rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-24 {
  font-size: 24px;
}

body {
  margin: unset;
  background: #f6f6f6;
  position: relative;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.primary-btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #ffffff;
  padding: 1rem;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.primary-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.dish-title {
  border-bottom: 3px solid #99e2d0;
  width: 10vw;
  margin-left: 3rem;
}

.heart {
  cursor: pointer;
  position: relative;
  top: -10px;
  right: 30px;
}
.heart:hover #full-heart {
  opacity: 1;
  transform: scale(1);
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
}
.heart:hover #empty-heart {
  opacity: 0;
}
.heart #empty-heart {
  position: absolute;
  line-height: 1;
  opacity: 1;
  transition: opacity 0.1s;
}
.heart #full-heart {
  opacity: 0;
  line-height: 1;
  transition: all 0.45s;
  transform: scale(0.2);
  color: transparent;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
}

.heart-card {
  z-index: 1;
  position: relative;
  right: 30px;
  bottom: 5px;
}
.heart-card:hover #full-heart-card {
  opacity: 1;
  transform: scale(1);
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
}
.heart-card:hover #empty-heart-card {
  opacity: 0;
}
.heart-card #empty-heart-card {
  position: absolute;
  line-height: 1;
  opacity: 1;
  transition: opacity 0.1s;
}
.heart-card #full-heart-card {
  position: absolute;
  opacity: 0;
  line-height: 1;
  transition: all 0.25s;
  transform: scale(0.2);
  color: transparent;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.loader-container {
  position: relative;
  height: 0vh;
  width: 100vw;
  z-index: 1;
  background-color: #ffffff;
  animation: loader-container 1.5s ease;
  -webkit-animation: loader-container 1.5s ease-in-out;
  animation-duration: 2.8s;
}

@keyframes loader-container {
  0% {
    height: 100vh;
  }
  90% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}
.loader h1 {
  text-align: center;
  padding-top: 10rem;
}
.loader span {
  font-size: 0vh;
  animation: letter;
  -webkit-animation: letter 1.5s ease;
}

h1 span:nth-child(1) {
  animation-delay: 0.1s;
}

h1 span:nth-child(2) {
  animation-delay: 0.2s;
}

h1 span:nth-child(3) {
  animation-delay: 0.3s;
}

h1 span:nth-child(4) {
  animation-delay: 0.4s;
}

h1 span:nth-child(5) {
  animation-delay: 0.5s;
}

h1 span:nth-child(6) {
  animation-delay: 0.6s;
}

h1 span:nth-child(7) {
  animation-delay: 0.7s;
}

h1 span:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes letter {
  0% {
    font-size: 6vh;
  }
  100% {
    font-size: 6vh;
  }
}
.dish {
  animation: dish-animation 2s ease;
  -webkit-animation: dish-animation 2s ease;
}

@keyframes dish-animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.dish-title {
  animation: dish-title-animation 0.4s ease-in-out;
  -webkit-animation: dish-title-animation 0.4s ease-in-out;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

@keyframes dish-title-animation {
  0% {
    opacity: 0;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}
@media only screen and (min-width: 769px) and (max-width: 2560px) {
  body {
    background: #ffffff;
  }
  nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 0.7rem 0;
    position: relative;
    background: #ffffff;
  }
  nav h1 {
    margin: unset;
    text-align: center;
    font-size: 3vw;
  }
  nav .arrow {
    position: absolute;
    left: 5%;
    top: 41%;
    font-size: 1.5vw;
  }
  main h2 {
    padding-left: 6rem;
    margin: 3rem 0;
  }
  .main-page {
    position: relative;
    top: -25px;
    margin: 0 5rem;
    background: #f6f6f6;
    border-radius: 20px 20px 0 0;
  }
  .main-page .restaurant-name {
    font-size: 2vw;
  }
  .main-page .heart {
    cursor: pointer;
    position: relative;
    top: -10px;
    right: 720px;
  }
  .main-page h2 {
    padding-left: 14rem;
  }
  .dish-title {
    border-bottom: 3px solid #99e2d0;
    width: 3vw;
    margin-left: 9rem;
  }
  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin: 0.8rem 10rem;
    position: relative;
    opacity: 1;
  }
  .dish p {
    margin: 0.3rem;
  }
  .dish:hover .check-container {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  .dish:hover #price {
    margin-right: 3rem !important;
    transition: 0.13s;
    -webkit-transition: 0.13s;
    -moz-transition: 0.13s;
    -ms-transition: 0.13s;
    -o-transition: 0.13s;
  }
  .check-container {
    background: #99e2d0;
    position: absolute;
    right: 0;
    top: 0;
    width: 9%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    transition: 0.13s ease-in-out;
    transform-origin: right;
    transition: transform;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: 0.13s ease-in-out;
    -moz-transition: 0.13s ease-in-out;
    -ms-transition: 0.13s ease-in-out;
    -o-transition: 0.13s ease-in-out;
  }
  .check {
    border-radius: 50%;
    background: #ffffff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #price {
    transition: transform;
    -webkit-transition: transform;
    -moz-transition: transform;
    -ms-transition: transform;
    -o-transition: transform;
    transition-duration: 0.5s;
    margin-right: unset;
  }
  .img-page {
    width: -webkit-fill-available;
    height: 40vh;
    object-fit: cover;
  }
  .location {
    background-color: #eaeaea;
    font-family: "Roboto", sans-serif;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .reservez-section {
    background: #f6f6f6;
    margin-top: unset;
    padding-bottom: 3rem;
  }
  .reservez-section p {
    margin-top: unset;
    padding-top: 3rem;
  }
  .reservez-section span {
    padding-top: 1rem;
  }
  .functioning {
    padding: 3rem 0;
    background: #ffffff;
  }
  .functioning h2 {
    padding-left: 5rem;
    margin-bottom: 3rem;
  }
  footer {
    background-color: #353535;
    color: #ffffff;
  }
  .restaurant-name {
    font-size: 8vw;
  }
  .reservez {
    background-color: #f6f6f6;
  }
  .functioning-steps {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .functioning-step {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    max-width: 100%;
    max-height: 72.38px;
    position: relative;
    margin-bottom: 1.5rem;
    width: 27%;
  }
  .functioning-step:hover .fa-mobile-screen {
    color: #9356dc;
  }
  .functioning-step:hover .fa-list-ul {
    color: #9356dc;
  }
  .functioning-step:hover .fa-store {
    color: #9356dc;
  }
  .number {
    background-color: #9356dc;
    height: 24px;
    width: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
  }
  .primary-btn {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #ffffff;
    padding: 1rem;
    width: fit-content;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }
  .primary-btn:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
  .new {
    font-family: "Roboto", sans-serif;
    color: #008766;
    background: #99e2d0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0.4rem 0.5rem;
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .article-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }
  article {
    max-width: 35vw;
    background-color: #ffffff;
    margin: 2rem 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
  }
  article img {
    width: -webkit-fill-available;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
  }
  article .restaurant-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  article .restaurant-location {
    margin-top: unset;
  }
  article p {
    padding-left: 0.5rem;
  }
  .second-img {
    height: 343px;
    width: 514px;
    object-fit: cover;
  }
  footer {
    background-color: #353535;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    margin: 2rem 0 0;
    padding-right: 3rem;
    padding: 2rem 3rem 0.3rem 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 2560px) {
  .check-container {
    width: 5%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .second-img {
    width: 358px;
    height: 239px;
    object-fit: cover;
  }
  .arrow {
    position: absolute;
    left: 5%;
    top: 2%;
  }
  .main-page .heart {
    right: 390px !important;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  body {
    margin: unset;
    background: rgba(246, 246, 246, 0.9647058824);
  }
  main {
    margin: 4rem 1rem 1rem 1rem;
  }
  main h2 {
    padding-left: unset;
  }
  h2 {
    text-align: center;
    margin: 3rem 0;
  }
  nav {
    text-align: center;
  }
  .spinner {
    top: 9%;
  }
  .location {
    background-color: #eaeaea;
    font-family: "Roboto", sans-serif;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .arrow {
    position: absolute;
    left: 5%;
    top: 6%;
  }
  .functioning h2 {
    padding-left: unset;
  }
  .functioning-steps {
    all: unset !important;
  }
  .number {
    background-color: #9356dc;
    height: 24px;
    width: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -28px;
  }
  .functioning-step {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    max-height: 72.38px;
    margin: 1rem 5rem;
    position: relative;
    margin-bottom: 1.5rem;
    width: unset;
    border-radius: 15px;
  }
  .functioning-step:hover .fa-mobile-screen {
    color: #9356dc;
  }
  .functioning-step:hover .fa-list-ul {
    color: #9356dc;
  }
  .functioning-step:hover .fa-store {
    color: #9356dc;
  }
  article {
    background-color: #ffffff;
    margin: 3rem 5rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
  }
  .new {
    font-family: "Roboto", sans-serif;
    color: #008766;
    background: #99e2d0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0.4rem 0.5rem;
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .img-index {
    max-height: 192px;
    min-width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .heart {
    cursor: pointer;
    position: relative;
    top: -10px;
    right: 25px;
  }
  .heart:hover #full-heart {
    opacity: 1;
    transform: scale(1);
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;
  }
  .heart:hover #empty-heart {
    opacity: 0;
  }
  .heart #empty-heart {
    position: absolute;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.1s;
  }
  .heart #full-heart {
    opacity: 0;
    line-height: 1;
    transition: all 0.45s;
    transform: scale(0.2);
    color: transparent;
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    -webkit-transition: all 0.45s;
    -moz-transition: all 0.45s;
    -ms-transition: all 0.45s;
    -o-transition: all 0.45s;
  }
  .heart-card {
    z-index: 1;
    position: relative;
    right: 30px;
    bottom: 5px;
  }
  .heart-card:hover #full-heart-card {
    opacity: 1;
    transform: scale(1);
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;
  }
  .heart-card:hover #empty-heart-card {
    opacity: 0;
  }
  .heart-card #empty-heart-card {
    position: absolute;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.1s;
  }
  .heart-card #full-heart-card {
    position: absolute;
    opacity: 0;
    line-height: 1;
    transition: all 0.25s;
    transform: scale(0.2);
    color: transparent;
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
  }
  .img-page {
    width: -webkit-fill-available;
    object-fit: cover;
    position: relative;
    height: 40vh;
  }
  .main-page {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    width: -webkit-fill-available;
    position: relative;
    top: -3rem;
    padding: 1rem;
    margin: unset;
  }
  .main-page .restaurant-name {
    padding-left: 2rem;
  }
  .main-page .heart {
    right: 270px;
  }
  .restaurant-name {
    font-size: 5vw;
  }
  .primary-btn {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #ffffff;
    padding: 1rem;
    margin: 4rem 0;
    width: fit-content;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }
  .primary-btn:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin: 0.8rem 4rem;
    flex: 1;
    transition: width 0.3s;
    position: relative;
  }
  .dish p {
    margin: 0.3rem;
  }
  .dish:hover .check-container {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  .dish:hover #price {
    margin-right: 3rem !important;
    transition: 0.13s;
    -webkit-transition: 0.13s;
    -moz-transition: 0.13s;
    -ms-transition: 0.13s;
    -o-transition: 0.13s;
  }
  .check-container {
    background: #99e2d0;
    position: absolute;
    right: 0;
    top: 0;
    width: 8%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    transition: 0.13s ease-in-out;
    transform-origin: right;
    transition: transform;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: 0.13s ease-in-out;
    -moz-transition: 0.13s ease-in-out;
    -ms-transition: 0.13s ease-in-out;
    -o-transition: 0.13s ease-in-out;
  }
  .check {
    border-radius: 50%;
    background: #ffffff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    background-color: #353535;
    padding: 0.5rem 1rem;
    color: #ffffff;
  }
  footer h4 {
    margin-top: 1rem;
    font-size: 3vw;
    text-align: center;
  }
  footer p {
    margin: 0.4rem 0rem;
    font-size: 2vw;
  }
  footer #contact {
    margin-top: 0.9rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  body {
    margin: unset;
  }
  nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 0.7rem 0;
    position: relative;
  }
  nav h1 {
    margin: unset;
    text-align: center;
    font-size: 8vw;
  }
  .spinner {
    top: 40%;
  }
  .primary-btn {
    margin-bottom: 1.5rem;
  }
  .new {
    font-family: "Roboto", sans-serif;
    color: #008766;
    background: #99e2d0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0.4rem 0.5rem;
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .arrow {
    position: absolute;
    left: 5%;
    top: 40%;
  }
  .img-index {
    max-height: 192px;
    min-width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .main-page {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    width: -webkit-fill-available;
    position: relative;
    top: -2.6rem;
    padding: 1rem;
  }
  .main-page h1 {
    margin: unset;
    font-size: 6vw;
  }
  .main-page .primary-btn {
    margin-top: 15%;
  }
  .main-index {
    padding: 1rem;
    background-color: #f6f6f6;
  }
  .main-index h2 {
    padding-top: 1.5rem;
  }
  main h2 {
    padding-left: unset;
  }
  .img-index {
    max-height: 192px;
    min-width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .img-page {
    width: -webkit-fill-available;
    object-fit: cover;
    height: 275px;
    position: relative;
  }
  .dish-title {
    border-bottom: 3px solid #99e2d0;
    width: 14%;
    margin-left: unset;
  }
  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 0.8rem;
    transition: width 0.3s;
    position: relative;
  }
  .dish p {
    margin: 0.2rem;
    font-size: 4vw;
  }
  .dish:hover .check-container {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  .dish:hover #price {
    margin-right: 3.5rem !important;
    transition: 0.13s;
    -webkit-transition: 0.13s;
    -moz-transition: 0.13s;
    -ms-transition: 0.13s;
    -o-transition: 0.13s;
  }
  .dish:hover .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .check-container {
    background: #99e2d0;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    transition: 0.13s ease-in-out;
    transform-origin: right;
    transition: transform;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: 0.13s ease-in-out;
    -moz-transition: 0.13s ease-in-out;
    -ms-transition: 0.13s ease-in-out;
    -o-transition: 0.13s ease-in-out;
  }
  .check {
    border-radius: 50%;
    background: #ffffff;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    background-color: #353535;
    padding: 0.5rem 1rem;
    color: #ffffff;
  }
  footer h4 {
    margin-top: 1rem;
    font-size: 5vw;
  }
  footer p {
    margin: 0.4rem 0rem;
    font-size: 5vw;
  }
  footer #contact {
    margin-top: 0.9rem;
  }
  article {
    background-color: #ffffff;
    margin: 1rem 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
  }
  article .restaurant-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  article .restaurant-location {
    margin-top: unset;
  }
  article p {
    padding-left: 0.5rem;
  }
  .location {
    background-color: #eaeaea;
    font-family: "Roboto", sans-serif;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .functioning-steps {
    all: unset !important;
  }
  .functioning-step {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    max-width: 100%;
    max-height: 72.38px;
    position: relative;
    margin-bottom: 1.5rem;
    width: unset;
  }
  .functioning-step:hover .fa-mobile-screen {
    color: #9356dc;
  }
  .functioning-step:hover .fa-list-ul {
    color: #9356dc;
  }
  .functioning-step:hover .fa-store {
    color: #9356dc;
  }
  .number {
    background-color: #9356dc;
    height: 24px;
    width: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
  }
  .functioning {
    padding: 0 1.5rem 1.5rem;
    background: #ffffff;
  }
  .functioning h2 {
    padding-left: unset;
  }
  .fs-24 {
    margin-top: unset;
    padding-top: 1.5rem;
  }
  .reservez-section {
    padding-bottom: 2rem;
  }
  #price {
    transition: transform;
    -webkit-transition: transform;
    -moz-transition: transform;
    -ms-transition: transform;
    -o-transition: transform;
    transition-duration: 0.5s;
    margin-right: unset;
  }
}
@media only screen and (max-width: 320px) {
  .reservez-section {
    padding: 0px 1rem;
  }
  .dish {
    cursor: pointer;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 0.8rem;
    transition: width 0.3s;
    position: relative;
  }
  .dish p {
    margin: 0.2rem;
    font-size: 4vw;
  }
  .dish:hover .check-container {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  .dish:hover #price {
    margin-right: 2.6rem !important;
    transition: 0.13s;
    -webkit-transition: 0.13s;
    -moz-transition: 0.13s;
    -ms-transition: 0.13s;
    -o-transition: 0.13s;
  }
  .dish:hover .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 375px) {
  .reservez-section {
    padding: 0px 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .reservez-section {
    padding: 0px 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
